.cache/
.codex
.gradle-home/
.gradle-home-windows/
.gw/
.home/
.idea/

build/
build-nocache/
build-windows*/
cmake-build-*/
compile_commands.json

client/android-app/.gradle/
client/android-app/.idea/
client/android-app/app/.cxx/
client/android-app/app/build/
client/android-app/local.properties

*.apk
